.copyright {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.copyright__box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.copyright__box-text {
  @include text;

  font-size: 12px;
  line-height: 18px;
  color: $copyright-text;

  &--law {
    display: flex;
    align-items: flex-start;
  }
}

.copyright__box-letter {
  display: inline-block;
  margin-right: 6px;
  font-size: 18px;
}
