.description {
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 139%;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    font-size: 18px;
  }

  &--card {
    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 145%;
    }

    @media (min-width: $desktop-width) {
      width: 274px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
