.fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 18px 0 26px;
  padding: 0;
  border: none;

  &--volume {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 18px 0;
    margin-bottom: 41px;
    padding-top: 33px;

    @media (min-width: $tablet-width) {
      padding-top: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 37px;
    }
  }

  &--compound,
  &--application {
    margin: 18px 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -14px;
      width: 100%;
      height: 1px;
      background-color: $button-border;

      @media (min-width: $tablet-width) {
        bottom: -14px;
      }

      @media (min-width: $tablet-width) {
        bottom: -15px;
      }
    }

    @media (min-width: $tablet-width) {
      margin: 16px 0;
    }

    @media (min-width: $desktop-width) {
      width: 79%;
      margin: 17px 0;
    }
  }

  &--compound {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -16px;
      width: 100%;
      height: 1px;
      background-color: $button-border;

      @media (min-width: $tablet-width) {
        top: -14px;
      }
    }
  }

  &--application {
    padding-top: 8px;
  }

  &--facial-care,
  &--body-care,
  &--skin-type {
    @media (min-width: $tablet-width) {
      margin: 18px 0;
    }
  }
}

.fieldset__title {
  @include link;

  font-family: "Mplus1p", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dbdce0;
  }

  &--skin-type {
    &::before {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
    font-size: 18px;

    &::before {
      content: none;
    }
  }

  &--card {
    @include focus-border;

    font-size: 16px;
    margin: 0;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }

    &::before {
      content: none;
    }
  }
}

.fieldset__button {
  @include border;
  @include focus-border;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 52px;
  width: 100%;
  text-align: left;
  margin: 0 0 0 auto;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;

  &--compound,
  &--application {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: 12px;
      height: 1px;
      margin: auto;
      background-color: $text-color;
    }

    &::after {
      transform: rotate(90deg);
    }

    @media (min-width: $tablet-width) {
      &::before,
      &::after {
        right: 20px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before,
      &::after {
        right: 16px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 52px;

    &--facial-care,
    &--body-care,
    &--skin-type {
      grid-template-columns: 1fr;
    }
  }

  &:hover {
    @include hover;
  }

  &:focus {
    @include focus;
  }

  &:active {
    @include active;
  }
}

.fieldset__list {
  margin-bottom: 17px;
}

.fieldset__text {
  @include text;

  display: none;
  width: 97%;
  margin: 9px 0 0 0;
  font-size: 14px;
  line-height: 145%;
}

.fieldset--closed .fieldset__button--facial-care,
.fieldset--closed .fieldset__button--body-care,
.fieldset--closed .fieldset__button--skin-type {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 1px;
    margin: auto;
    background-color: $text-color;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      content: none;
    }
  }
}

.fieldset--opened .fieldset__button--facial-care,
.fieldset--opened .fieldset__button--body-care,
.fieldset--opened .fieldset__button--skin-type,
.fieldset--opened .fieldset__button--compound,
.fieldset--opened .fieldset__button--application {
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background-color: $text-color;
  }
}

.fieldset--opened .fieldset__button--facial-care,
.fieldset--opened .fieldset__button--body-care,
.fieldset--opened .fieldset__button--skin-type {
  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }
  }
}

.fieldset--opened .fieldset__list {
  margin-bottom: -8px;
}

.fieldset--opened .fieldset__button--compound,
.fieldset--opened .fieldset__button--application {
  &::before {
    top: 0;
    right: 10px;
  }

  &::after {
    content: none;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      right: 16px;
    }
  }
}

.fieldset--opened .fieldset__title--skin-type {
  &::before {
    content: "";
  }
}

.fieldset--opened .fieldset-list {
  display: block;
}

.fieldset--opened .fieldset__text {
  display: block;
}

.fieldset--opened .fieldset__title {
  &--card::before {
    content: none;
  }
}

.fieldset--nojs .fieldset__button--compound,
.fieldset--nojs .fieldset__button--application,
.fieldset--nojs .fieldset__button--facial-care,
.fieldset--nojs .fieldset__button--body-care,
.fieldset--nojs .fieldset__button--skin-type {
  &::before,
  &::after {
    content: none;
  }
}

.fieldset--nojs .fieldset__text {
  display: block;
}
