.fieldset-list {
  @include list;

  display: none;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 0;
  }

  &--card {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-top: 0;

    @media (min-width: $desktop-width) {
      gap: 15px;
    }
  }
}

.fieldset-list__item {
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }

  &--card {
    margin: 0;
  }
}
