.intro__wrapper {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    width: 40.5%;
    padding-top: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 23.5%;
    padding-top: 56px;
  }
}

.intro__subtitle {
  @include text;

  margin-bottom: 6px;
  font-family: "Relaway", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 58px;
  }
}

.intro__description {
  @include text;
}

.intro__link {
  @include link;
  width: 132px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    width: 141px;
  }
}

.intro__list {
  @include list;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    margin: 0;
  }
}
