.nav {
  @media (min-width: $tablet-width) {
    column-gap: 30px;
  }
}

.nav__button {
  @include focus-border;

  display: block;
  width: 22px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav__dropdown {
  position: absolute;
  z-index: 2;
  top: 76px;
  left: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 37px 15px 116px;
  background-color: #f8f8f6;
  box-shadow: 0 4px 30px rgb(214 214 214 / 19%);

  @media (min-width: $tablet-width) {
    top: 100px;
    padding: 49px 45px 50px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    top: 0;
    display: block;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      top: 102px;
      padding-top: 48px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}

.nav--closed .nav__button {
  display: none;

  @media (min-width: $mobile-width-only) {
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 16px;
      width: 20px;
      height: 2px;
      background-color: #231f20;
      box-shadow: 0 6px 0 0 $text-color, 0 12px 0 0 $text-color;
      // filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      @media (min-width: $tablet-width) {
        top: 43px;
        left: 46px;
        width: 22px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: none;

    &::before {
      content: none;
    }
  }
}

.nav--opened .nav__button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 37px;
    left: 11px;
    width: 21px;
    height: 2px;
    background-color: #122947;

    @media (min-width: $tablet-width) {
      top: 49px;
      left: 42px;
      width: 25px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--catalog {
    &::before,
    &::after {
      content: "";
      left: 11px;

      @media (min-width: $tablet-width) {
        left: 41px;
      }
    }
  }
}

// .nav--nojs .nav__button {
//   display: block;

//   &--catalog {
//     display: block;
//   }
// }

.nav--closed .nav__dropdown {
  @media (min-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &--catalog,
  &--card {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.nav--nojs .nav__button {
  display: none;
}

.nav--nojs .nav__dropdown {
  position: absolute;
  display: block;

  @media (min-width: $desktop-width) {
    position: static;
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dbdce0;
  }

  &--catalog,
  &--card {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.nav--opened .nav__dropdown {
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dbdce0;
  }

  &--catalog,
  &--card {
    display: block;
  }
}
