.page-footer-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 68px;
  }
}

.page-footer-nav__list {
  @include list;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-left: 69px;
    margin-right: auto;
  }
}

.page-footer-nav__social-list {
  margin-bottom: 74px;

  @media (min-width: $tablet-width) {
    width: 101px;
    margin-bottom: 0;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 111px;
    gap: 30px;
  }
}
