.page-footer-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.page-footer-nav__list {
  @include list;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-left: 69px;
    margin-right: auto;
  }
}

.page-footer-nav__social-list {
  margin-bottom: 74px;

  @media (min-width: $tablet-width) {
    width: 101px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    width: 111px;
  }
}
