.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 15px 30px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 40px 45px 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 98px 33px;
  }

  &--index {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 546px;
      background: url("../../img/header-background-image-mobile.jpg") no-repeat
        $background-color;
      background-size: cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../../img/header-background-image-mobile@2x.jpg")
          no-repeat $background-color;
        background-size: cover;
      }

      @media (min-width: $tablet-width) {
        height: 550px;
        background: url("../../img/header-background-image-tablet.jpg")
          no-repeat $background-color;
        background-size: cover;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: url("../../img/header-background-image-tablet@2x.jpg")
            no-repeat $background-color;
          background-size: cover;
        }
      }

      @media (min-width: $desktop-width) {
        min-height: 650px;
        background: url("../../img/header-background-image-desktop.jpg")
          no-repeat $background-color;
        background-size: cover;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: url("../../img/header-background-image-desktop@2x.jpg")
            no-repeat $background-color;
          background-size: cover;
        }
      }
    }
  }

  &--catalog {
    align-items: center;

    @media (min-width: $desktop-width) {
      padding-bottom: 38px;
    }
  }

  &--card {
    @media (min-width: $desktop-width) {
      padding-bottom: 35px;
    }
  }
}

.page-header__nav {
  @media (min-width: $desktop-width) {
    order: 2;
  }

  &:focus-within .nav__button {
    @include focus;
  }

  // &:focus-within .nav__dropdown {
  //   display: block;
  // }
}

.page-header__logo {
  position: relative;
  left: 4.5%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    order: 1;
  }
}

.page-header__login {
  @include border;

  @media (min-width: $desktop-width) {
    order: 3;
  }

  &:hover .page-header__login-icon {
    @include hover;
  }

  &:focus .page-header__login-icon {
    @include focus;
  }

  &:active .page-header__login-icon {
    @include active;
  }
}

.page-header__login-icon {
  @include focus-border;

  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    transform: scale(1.3);
    top: 2px;
    left: -5px;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      top: 0;
    }
  }
}

.page-header__basket {
  @include border;

  @media (min-width: $desktop-width) {
    order: 4;
  }

  &:hover .page-header__basket-icon {
    @include hover;
  }

  &:focus .page-header__basket-icon {
    @include focus;
  }

  &:active .page-header__basket-icon {
    @include active;
  }
}

.page-header__basket-icon {
  @include focus-border;

  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    transform: scale(1.3);
    top: 2px;
    left: -2px;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      top: 0;
    }
  }
}
