.page-main {
  position: relative;
}

.page-main__intro {
  position: relative;
  margin-bottom: 126px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 181px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 197px;
  }
}
