.pagination-controls {
  display: flex;
  justify-content: space-between;
  width: 18%;

  &--index {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      margin-left: auto;
      margin-top: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 8.7%;
    }
  }
}

.pagination-controls__button {
  @include focus-border;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    @include hover;
  }

  &:focus {
    @include focus;
  }

  &:active {
    @include active;
  }
}
