.product-list {
  display: flex;
  gap: 30px;
  overflow-x: scroll;

  &--catalog {
    @include list;

    flex-direction: column;
    max-width: 290px;
    margin: 0 auto 28px;
    overflow: hidden;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-width: 100%;
      margin: 0 0 44px;
    }
  }
}

.product-list__item {
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &--recently-viewed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--lotos {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--clean {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--lavender {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--coconut {
    @media (min-width: $tablet-width) {
      order: 4;
    }
  }
}

.product-list__item-image {
  width: 220px;
  height: 297px;

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 312px;
  }

  &--catalog {
    width: 290px;
    height: 290px;

    @media (min-width: $tablet-width) {
      width: 324px;
      height: 350px;
    }

    @media (min-width: $desktop-width) {
      width: 270px;
      height: 350px;
    }
  }
}

.product-list__item-container {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

  &--catalog {
    bottom: 0;
    left: 0;
    transform: none;
  }
}

.product-list__item-picture {
  grid-column: 1/-1;
  grid-row: 1/4;
}

.product-list__item-title {
  margin: 31px 0 0;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;

  &--catalog {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    margin-left: 20px;
  }
}

.product-list__item-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
  color: $subtitle;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  &--catalog {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 14px;
  }
}

.product-list__item-price {
  &--catalog {
    grid-column: 2/-1;
    grid-row: 2/3;
    margin: 0;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 500;
  }
}

.product-list__item-volume {
  &--catalog {
    grid-column: 2/-1;
    grid-row: 3/4;
    margin: 0 20px 14px auto;
  }
}

.product-list__item-link {
  @include link;
  @include border;

  position: relative;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $text-color;
  }

  &--catalog {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;

    &::after {
      content: none;
    }

    @media (min-width: $tablet-width) {
      max-width: 324px;
      // column-gap: 10px;
    }

    @media (min-width: $desktop-width) {
      max-width: 270px;
    }
  }

  &:hover {
    @include hover;
  }

  &:focus {
    @include focus;
    outline: none;
  }

  &:active {
    @include active;
    outline: none;
  }
}
