.promo {
  margin-bottom: 80px;
  background: url("../../img/promo-image-mobile.jpg") no-repeat
    $background-color;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../../img/promo-image-mobile@2x.jpg") no-repeat
      $background-color;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 134px;
    background: url("../../img/promo-image-tablet.jpg") no-repeat
      $background-color;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/promo-image-tablet@2x.jpg") no-repeat
        $background-color;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 140px;
    background: url("../../img/promo-image-desktop.jpg") no-repeat
      $background-color;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/promo-image-desktop@2x.jpg") no-repeat
        $background-color;
      background-size: cover;
    }
  }
}

.promo__wrapper {
  padding-top: 290px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 37%;
    margin: 0 85px 0 auto;
    padding: 89px 0 98px;
  }

  @media (min-width: $desktop-width) {
    // width: 25.3%;
    max-width: 345px;
    margin: 0 224px 0 0;
    margin-left: auto;
    padding: 70px 0 83px;
  }
}

.promo__title {
  line-height: 125%;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.promo__link {
  @include link;

  width: 132px;
  padding: 9px 0;

  @media (min-width: $tablet-width) {
    width: 141px;
    margin: 0;
  }
}
