.social-list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 111px;

  &--menu {
    @media (min-width: $tablet-width) {
      gap: 25px;
      max-width: 101px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.social-list__link-icon {
  @include focus-border;

  display: block;
}

.social-list__link {
  @include link;
  @include focus-border;

  &:hover .social-list__link-icon {
    @include hover;
  }

  &:focus .social-list__link-icon {
    @include focus;
  }

  &:active .social-list__link-icon {
    @include active;
  }
}
