.subscribe {
  position: relative;
  margin-bottom: 420px;

  @media (min-width: $tablet-width) {
    margin-bottom: 178px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 286px;
  }
}

.subscribe__wrapper {
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 264px;
    left: 50%;
    width: 290px;
    height: 290px;
    background: url("../img/subscribe-image-mobile.jpg") no-repeat;
    background-size: contain;
    transform: translateX(-50%);

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/subscribe-image-mobile@2x.jpg") no-repeat;
      background-size: contain;
    }

    @media (min-width: $tablet-width) {
      top: -49px;
      left: 0;
      width: 354px;
      height: 354px;
      background: url("../img/subscribe-image-tablet.jpg") no-repeat;
      transform: none;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/subscribe-image-tablet@2x.jpg") no-repeat;
        background-size: contain;
      }
    }

    @media (min-width: $desktop-width) {
      top: -140px;
      left: 0;
      width: 699px;
      height: 466px;
      background: url("../img/subscribe-image-desktop.jpg") no-repeat;
      transform: none;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/subscribe-image-desktop@2x.jpg") no-repeat;
        background-size: contain;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 40.5%;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 34.2%;
  }
}

.subscribe__title {
  max-width: 100%;
  max-height: 73px;
  overflow: scroll;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 17px;
    line-height: 125%;
  }
}

.subscribe__description {
  max-width: 100%;
  max-height: 67px;
  overflow: scroll;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}

.subscribe__link {
  @include link;

  width: 146px;
  max-width: 100%;
  max-height: 39px;
  overflow: scroll;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    max-height: none;
    overflow: hidden;
  }
}
