.button {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 8px 0 9px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  background-color: transparent;
  outline: 1px solid $button-border;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  &:hover {
    @include hover;
  }

  &:focus {
    @include focus;
  }

  &:active {
    @include active;
    outline: 1px solid $button-border;
  }
}
