@font-face {
  font-family: "Relaway";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Raleway.woff2") format("woff2"),
    url("../../fonts/Raleway.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Mplus1p";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Mplus1p.woff2") format("woff2"),
    url("../../fonts/Mplus1p.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Mplus1p";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Mplus1pmedium.woff2") format("woff2"),
    url("../../fonts/Mplus1pmedium.woff") format("woff");
  font-display: swap;
}
