$white: #ffffff;
$text-color: #122947;
$button-border: #b3bac1;
$subtitle: #9a9da0;
$background-color: #f4f1ed;
$copyright-text: #959595;
$line: #d1d1d1;

$desktop-width: 1366px;
$tablet-width: 768px;
$mobile-width-only: 320px;

@mixin text {
  margin: 0;
}

@mixin link {
  color: $text-color;
  text-decoration: none;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin focus-border {
  border-radius: 2px;
  outline: 2px solid transparent;
}

@mixin border {
  border: none;
  outline: none;
}

@mixin hover {
  opacity: 0.6;
  transition: 0.2s;
}

@mixin focus {
  outline: 2px solid #dc0404;
  opacity: 0.4;
}

@mixin active {
  outline: 2px solid transparent;
  opacity: 1;
}
